body {
	background-color: lightgrey;
	font-family: arial;
}
#top1 {
	background-color: pink;
	width: 1000px;
	height: 50px;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
}
#top2 {
	background-color: blue;
	width: 1000px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#top3 {
	background-color: lightblue;
	width: 1000px;
	height: 75px;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	border-bottom: none;
}
#top3 #left {
	width: 500px;
	height: 75px;
	margin: 0px;
	padding: 0px;
	float: left;
}
#top3 #right {
	width: 500px;
	height: 75px;
	margin: 0px;
	padding: 0px;
	float: right;
	display: flex;
}
#top4 {
	background-color: lightblue;
	width: 1000px;
	height: 75px;
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	border-top: none;
	display: flex;
}
#main {
	width: 970px;
	height: 750px;
	background-color: lightgrey;
	margin: 15px 15px 15px 15px;
}
#main #left {
	width: 200px;
	height: 550px;
	background-color: white;
	border: 1px solid black;
	float: left;
}
#main #right {
	width: 768px;
	height: 570px;
	float: right;
}
input[type="text"] {
    width: 300px;
    box-sizing: border-box;
    border: 1px solid black;
    outline:none;
    padding: 12px 14px;
    margin: 15px 0px 0px 0px;
    transition: 0.6s ease-in-out;
 }
input[type="text"]:focus{
	height: 100px;
}
#top2 ul{
	margin: 0px;
	padding: 0px;
}
#top2 ul li {
	list-style: none;
	float: right;
}
#top2 ul li a {
	text-decoration: none;
	color: white;
	font-size: 12px;
	padding:5px 0px 0px 15px;
}
#name {
	text-decoration: none;
	color: white;
	font-size: 28px;
	padding:0px 0px 0px 30px;
}
#top3 #right #item a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
#item {
	margin: 15px 20px 0px 15px;
	width: 90px;
}
.active {
	border: 1px solid white;
	height: 40px;
	text-align: center;
	border-radius: 4px;
}
#top4 #item1 a {
	text-decoration: none;
	color: white;
	font-size: 13px;
}
#item1 {
	margin-right: 30px;
	padding: 15px 0px 0px 15px;
}
.item1 {
	font-size: 13px;
	color: white;
}
.item2 {
	width: 200px;
}
#main #left ul {
	margin: 0px;
	padding: 0px;
}
#main #left ul li {
	list-style: none;
	padding: 15px 0px 0px 5px;
}
#main #left ul li a {
	text-decoration: none;
	color: black;
	font-size: 15px;
}
#main1 {
	float: left;
	width: 450px;
	height: 350px;
	border: 1px solid black;
	border-left: 0px;
	background-color: purple;
}
#main2 {
	float: left;
	width: 150px;
	height: 170px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 4px;
	margin: 0px 0px 0px 5px;
}
#main3 {
	float: left;
	width: 150px;
	height: 170px;
	background-color: lightyellow;
	border: 1px solid black;
	border-radius: 4px;
	margin: 0px 0px 0px 5px;
}
#main4 {
	float: left;
	width: 150px;
	height: 170px;
	background-color: lightyellow;
	border: 1px solid black;
	border-radius: 4px;
	margin: 8px 0px 0px 5px;
}
#main5 {
	float: left;
	width: 150px;
	height: 170px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 4px;
	margin: 8px 0px 0px 5px;
}
#main6 {
	float: left;
	width: 219px;
	height: 170px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 4px;
	margin: 8px 0px 0px 5px;
}
#main7 {
	float: left;
	width: 219px;
	height: 170px;
	background-color: lightyellow;
	border: 1px solid black;
	border-radius: 4px;
	margin: 8px 0px 0px 5px;
}
#main8 {
	float: left;
	width: 150px;
	height: 170px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 4px;
	margin: 8px 0px 0px 5px;
}
#main9 {
	float: left;
	width: 150px;
	height: 170px;
	background-color: lightyellow;
	border: 1px solid black;
	border-radius: 4px;
	margin: 8px 0px 0px 5px;
}
#main10 {
	float: left;
	width: 219px;
	height: 150px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 4px;
	margin: 0px 10px 0px 10px;
}
#main11 {
	float: left;
	width: 219px;
	height: 150px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 4px;
	margin: 0px 10px 0px 10px;
}
#main12 {
	float: left;
	width: 219px;
	height: 150px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 4px;
	margin: 0px 10px 0px 10px;
}
#main13 {
	float: left;
	width: 219px;
	height: 150px;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 4px;
	margin: 0px 0px 0px 10px;
}
#main14 {
	width: 970px;
	height: 800px;
	background-color: white;
	border: 1px solid black;
	border-radius: 4px;
	margin: 15px 15px 15px 15px;
}
.fa-bars {
	margin: 0px 5px 0px 0px ;
}
.fas {
	color: yellow;
	margin-right: 5px;
}
.fab {
	color: yellow;
	margin-right: 5px;
}
.fa-bars{
	color: white;
}
.fa-user {
	color: white;
}
.fa-belt {
	color: white;
}
.fa-map-marker-alt {
	color: red;
}
.fa-shopping-cart {
	color: white;
}